:host {
    display: block;
}

.action-bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.75rem;
    position: relative;
}

lightning-spinner {
    position: relative;
    width: 2rem;
    min-height: 2rem;
}
